<div class="container">
  <div class="m-15 content-frame">
    <div class="row">
      <div class="col-sm-6 d-flex align-items-center">
        <h5 class="m-b-0 m-r-10">Season 2019</h5>
      </div>
    </div>

    <div class="month-frame w-100percent">
      <div class="calendar-frame flex-1 date">
        <div class="calendar-block day" [ngClass]="{'no-date': day === 'hello'}" *ngFor="let day of dayList">
          <span *ngIf="day !== 'hello'">{{ day }}</span>
        </div>
      </div>
      <div *ngFor="let month of monthList; let monthIndex = index" class="flex-1">
        <div class="month-name">
          {{ month.name }}
        </div>
        <div class="calendar-block" [ngClass]="{'no-date': obj.date === 'hello',
           'middle-week': checkMiddleWeek(index), 'weekend': checkWeekend(index)}"
          *ngFor="let obj of month.dateNum; let index = index">
          <div *ngIf="obj.date !== 'hello'" class="date-index flex-1">
            {{ obj.date }}
          </div>
          <div *ngIf="obj.date === 'hello'" class="date-index flex-1"></div>
          <div class="d-flex flex-1" dragula="VAMPIRES" [(dragulaModel)]="obj.match_day">
            <div class="match-day" *ngFor="let matchDay of obj.match_day" [ngStyle]="{'height': ((matchDay.date_range + 1) * 35) + 'px', 'background-color': matchDay.color}">
              {{ matchDay.short_name || matchDay.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
